@model Producto

<<h1 class="mb-4">Editar producto</h1> 

<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Nombre" class="control-label" style="font-size: 0.9rem;"></label> 
        <input asp-for="Nombre" class="form-control" style="width: 40%;" /> 
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Precio" class="control-label" style="font-size: 0.9rem;"></label> 
        <input asp-for="Precio" class="form-control" style="width: 10%;" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;" >Guardar</button>
        <a asp-action="Index" class="btn btn-secondary" style="margin-top: 10px;">Cancelar</a> 
    </div>
</form>
