@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4 mt-5">Bienvenido al CRUD de Productos</h1>
            <p class="lead">Este es un ejemplo de una aplicación web que implementa las operaciones básicas de un CRUD (Crear, Leer, Actualizar, Eliminar) para gestionar productos.</p>
            <p class="lead">La aplicación está construida utilizando ASP.NET Core, un framework de desarrollo web de código abierto de Microsoft.</p>
            <p class="lead">Se ha utilizado SQL Server como base de datos para almacenar la información de los productos, y el ORM Dapper para realizar las operaciones de acceso a datos de manera eficiente y segura.</p>
            <p class="lead">¡Explora y aprende más sobre <a href="https://learn.microsoft.com/aspnet/core" class="text-primary">ASP.NET Core</a>!</p>
        </div>
    </div>
</div>


